<div class="related_likelists">
  <div class="related_likelists_title">该用户也在以下心动列表</div>
  <div class="related_likelists_box">
    <div class="likelist_board">
      <a class="link" target="_black" href="likelist.html">
        <img class="large" src="../photos/2014.jpg" />
        <img src="../photos/2002.jpg"/>
        <img src="../photos/5029.jpg"/>
        <img src="../photos/2009.jpg"/>
      </a>
      <div class="board_bottom">
        <a>用户名</a>
      </div>
    </div>
    <div class="likelist_board">
      <a class="link" target="_blace" href="likelist.html">
        <img class="large" src="../photos/2014.jpg" />
        <img src="../photos/2002.jpg"/>
        <img src="../photos/5029.jpg"/>
        <img src="../photos/2009.jpg"/>
      </a>
      <div class="board_bottom">
        <a>用户名</a>
      </div>
    </div>
  </div>
</div>