<div class="photo_box">
  <ul class="photo_list">
    <li data-id="03" data-order="1">
      <div class="photo_preview">
        <img src="../photos/1111.jpeg" />
      </div>
    </li>
    <li data-id="02" data-order="2">
      <div class="photo_preview">
        <img src="../photos/1111.jpeg" />
      </div>
    </li>
    <li data-id="03" data-order="3">
      <div class="photo_preview">
        <img src="../photos/1111.jpeg" />
      </div>
    </li>
    <li data-id="1111" data-order="4">
      <div class="photo_preview">
        <img src="../photos/1111.jpeg" />
      </div>
    </li>
    <li data-id="0" data-order="5">
      <div class="photo_preview">
        <img src="../images/img header.png" />
      </div>
    </li>
    <li data-id="0" data-order="6">
      <div class="photo_preview">
        <img src="../images/img header.png" />
      </div>
    </li>
    <li data-id="0" data-order="7">
      <div class="photo_preview">
        <img src="../images/img header.png" />
      </div>
    </li>
    <li data-id="0" data-order="8">
      <div class="photo_preview">
        <img src="../images/img header.png" />
      </div>
    </li>
    <li data-id="0" data-order="9">
      <div class="photo_preview">
        <img src="../images/img header.png" />
      </div>
    </li>
  </ul>
</div>