

<div class="info_header">
  <img alt="An image of Allen" src="../photos/2121.jpg"></div>
<div class="info_main">
  <div class="info_username">
    <span class="username"><%$user->user_name%></span>
    <a class="xqq_icon icon_checked" href="#"></a>
  </div>
  <div class="info_summary">
    <span><%$user->sex%></span>
    丨
    <span><%$user->age%>岁</span>
    丨
<!--     <span><%$user->constellation%></span>
    丨 -->
    <span><%$user->height%>cm</span>
    丨
    <span><%$user->location%></span>
    丨
    <span>3张照片</span>
  </div>
  <div class="info_onlinetime">
    最后在线：
    <span>现在在线</span>
  </div>
  <div class="info_button">
    <a class="info_button_edit button">编辑</a>
    <a class="info_button_like button_s">心动</a>
    <a class="info_button_message button_s">私信</a>
  </div>
</div>
<div class="info_data">
  <div class="info_data_title">缘分统计</div>
  <div class="info_data_list">
    <p>
      心动总数：
      <span>50</span>
      人
    </p>
    <p>
      心动比例：
      <span>5%</span>
    </p>
    <p>
      被心动总数：
      <span>5</span>
      人
    </p>
    <p>
      被心动比例：
      <span>2%</span>
    </p>
  </div>
</div>