<div class="main_column_header">
  <h1>详细介绍</h1>
  <a class="edit_button button">编辑</a>
</div>

<div class="profile_summary">
  <h3>自我介绍</h3>
  <p>
    生活中，我很随和，喜欢热闹的地方，周末会选择和朋友聚会，或者一起去运动，打球等等。我很擅长修理家电，呵呵，或许是随父亲耳濡目染的缘故，有些小的故障，我都可以妙手回春。
  </p>
  <h3>性格</h3>
  <p>开朗中偏文静，陌生的场合话不多，但是跟熟悉的好朋友一起就会变得很健谈。</p>
  <h3>工作</h3>
  <p>去年毕业，在律所工作有一年了。工作相对来说不算太辛苦，也没有太多的社交应酬。</p>
  <h3>兴趣</h3>
  <p>最喜欢的是电影与欧美剧，其次喜欢的是美食跟旅行</p>
  <h3>家庭</h3>
  <p>妈妈经商，爸爸跑工程，家中还有一个上小学的小弟。家中的氛围很融洽。 欢</p>
  <h3>写给未来的TA</h3>
  <p>不知道什么时候，你才会出现在我的生命中，我还在这儿等着，等着你的到来，然后好好爱你。</p>
  <p>请相信将来我会是位上得了厅堂又下得了厨房的好妻子（虽然我现在还不太会洗衣做饭），但是为了你，我愿意去学去做。</p>
  <p>
    尽管我学的是法律，工作也是律师，但我不是工作狂也不是女强人，生活中的我是位既可爱又淘气的小女人。真心期待可以早日与你相遇。
  </p>
</div>