        <div class="right_column_header">
            <h1>基本信息</h1>
            <a class="edit_button button">编辑</a>
          </div>
          <div class="profile_details">
            <dl>
              <dt>婚姻状况</dt>
              <dd id="marriage">未婚</dd>
            </dl>
            <dl>
              <dt>家乡</dt>
              <dd id="native_place"><%$user_more->hometown->name%></dd>
            </dl>
            <dl>
              <dt>民族</dt>
              <dd id="nation">汉族</dd>
            </dl>
            <dl>
              <dt>体型</dt>
              <dd id="body_type">匀称</dd>
            </dl>
            <dl>
              <dt>血型</dt>
              <dd id="blood_type">AB</dd>
            </dl>
            <dl>
              <dt>学历</dt>
              <dd id="education">本科</dd>
            </dl>
            <dl>
              <dt>职业</dt>
              <dd id="job">在校学生</dd>
            </dl>
            <dl>
              <dt>月薪</dt>
              <dd id="income">5000-10000</dd>
            </dl>
          </div>