<div class="main_column_header">
  <h1>详细介绍</h1>
  <a class="edit_button button">编辑</a>
</div>

<div class="profile_summary">
  <h3>自我介绍</h3>
  <p>
    <%$user_more->self_summary%>
  </p>
  <h3>性格</h3>
  <p><%$user_more->self_summary%></p>
  <h3>工作</h3>
  <p><%$user_more->good_at%></p>
  <h3>兴趣</h3>
  <p><%$user_more->interest%></p>
  <h3>家庭</h3>
  <p><%$user_more->self_summary%></p>
  <h3>写给未来的TA</h3>
  <p><%$user_more->love_history%></p>
  <p>
   <%$user_more->other%>
  </p>
</div>