
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>小鹊桥</title>
<meta content="遇见心动的人" name="description" />
<meta name="keywords" content="小鹊桥，鹊桥，免费交友，交友社区" />
<link rel="stylesheet" type="text/css" href="css/pop.css"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="js/jquery.core.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script type="text/javascript" src="js/email_info.js"></script>
</head>

<body>
<div class="navbar">
  <div class="container"><a class="logo">小鹊桥</a></div>
</div>
<div class="hero">
  <div class="title">遇见心动的人</div>
  <div class="subtitle">有一天，你会遇见一个人，让你明白，之前的一切等待都是值得的。<br />
    帮助你遇见心动的人，并与他们联系，最终找到自己的幸福。<br />
    这就是小鹊桥。</div>
  <div class="tip">关注我们，我们会邮件通知您网站的最新消息和进展。</div>
  <div class="send-form">
    <div class="form-input">
      <label>邮箱</label>
      <input class="email" type="text" disableautocomplete="" autocomplete="off" tabindex="1" value="" id="email_top" />
    </div>
    <button class="send button" id="submit_top"> <span>发送</span> </button>
  </div>
</div>
<div class="summary">
  <div class="title1">网站将于九月三十上线，我们不见不散</div>
  <div class="container">
    <div class="row-left">
      <div class="title2">只为遇见你</div>
      <div class="text"> 我知道这世上有人在等我，但我不知道我在等谁，为了这个，我每天都非常快乐。</div>
      <div class="text"> 世界上本没有一见钟情，所谓的一见钟情，不过是你遇见了那个你一直想遇见的人。</div>
      <div class="text"> 几米曾说过“我遇见了所有的不平凡，却没有遇见平凡的你”。</div>
      <div class="text"> 我害怕，当明天变成了今天，今天成为了昨天，我却依然没有遇见你。</div>
      <div class="text"> 让我们一起搭一座桥吧，让我遇见你，在我最好的年纪。</div>
    </div>
    <div class="row-right"> <img src="images/pop/bg_imac.jpg"/> </div>
  </div>
</div>
<div class="intro">
  <div class="intro-title">幸福从未如此简单</div>
  <div class="intro-subtitle">我们不是用户最多的交友网站，为什么还要选我们？因为我们更用心！</div>
  <div class="container">
    <div class="columns">
      <p class="columes-circles">1</p>
      <p class="columns-title">免费沟通</p>
      <p class="columns-text">搜索、浏览、发信都是完全免费的哦，你可以顺畅地与心仪的人沟通。</p>
    </div>
    <div class="columns">
      <p class="columes-circles">2</p>
      <p class="columns-title">真实可靠</p>
      <p class="columns-text">用户照片都会经过其他用户审核，我们共同营造一个真实可靠的交友环境。</p>
    </div>
    <div class="columns">
      <p class="columes-circles">3</p>
      <p class="columns-title">两情相悦</p>
      <p class="columns-text">如果你喜欢的人对你也有好感，那么你们就可以互发信息联系啦。</p>
    </div>
  </div>
</div>
<div class="team">
  <div class="title1">我们的团队</div>
  <div class="container">
    <div class="columns">
      <div class="photo"><img src="images/pop/allen.jpg"/></div>
      <div class="quote">
        <p>我是Allen，小鹊桥的创始人。我们一直致力于打造一个免费、靠谱的交友平台，帮助大家寻找属于自己的缘分。欢迎你的加入，祝愿你在这里遇见自己的真爱！ </p>
        <div class="name">Allen</div>
        <div class="jd">创始人</div>
      </div>
    </div>
    <div class="columns">
      <div class="photo"><img src="images/pop/linxi.jpg"/></div>
      <div class="quote">
        <p>大家好，我是林夕，很高兴参与建设这个交友平台，在这个平台中，每个人都可以和自己喜欢的人交朋友，彼此增进感情，找到自己的归属。让我们一起努力吧！</p>
        <div class="name">林夕</div>
        <div class="jd">技术负责人</div>
      </div>
    </div>
    <div class="columns">
      <div class="photo"><img src="images/pop/ajin.jpg" /></div>
      <div class="quote">
        <p>大家好，我是技术负责人阿金。我们会尽最大努力给大家提供一个安全稳定的交友环境，为你的缘分之旅保驾护航。最后，期待大家在这里都可以收获幸福！</p>
        <div class="name">阿金</div>
        <div class="jd">技术负责人</div>
      </div>
    </div>
  </div>
</div>
<div class="signup">
  <div class="title1">你准备好告别一个人的生活了吗？</div>
  <div class="number"><span>已经有</span><span class="count" id="count">0</span><span>人关注</span></div>
  <div class="tip">关注我们，我们会邮件通知您网站的最新消息和进展。</div>
  <div class="send-form">
    <div class="form-input">
      <label class="password">密码</label>
      <input class="email" type="text" disableautocomplete="" autocomplete="off" tabindex="1" value="" id="email_bottom" />
    </div>
    <button class="send button" id="submit_bottom"> <span>发送</span> </button>
  </div>
</div>
<div class="footer">
  <div class="contact">联系我们</div>
  <div class="contact-list"><span>邮箱：nk1100@163.com</span><span>微信公众号：小鹊桥</span><span class="weibo">新浪微博：小鹊桥官网<span>
    <wb:follow-button uid="2681687817" type="red_1" width="67" height="24" ></wb:follow-button>
    </span></span><span class="qqgroup">官方QQ群：383229083 <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=eb78d6ca2add7fc2368f52a3eb94a68f535ce0b856b89f940393291c7632f030"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="小鹊桥官方群" title="小鹊桥官方群" /></a></span></div>
  <div class="icp"> © 2014 xiaoqueqiao.com, All rights reserved.</div>
</div>
</body>
</html>
