<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>小鹊桥_免费靠谱的交友网站，发现、认识让你心动的人</title>
<meta content="小鹊桥是一个免费的在线交友网站。完全免费，真实可靠，双向选择，帮你发现，认识让你心动的人，让交友更方便、靠谱。" name="description" >
<meta name="keywords" content="小鹊桥，鹊桥，免费交友，交友网站" >
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/jquery.validate.js"></script>
<script type="text/javascript" src="../js/register.js"></script>
</head>
<body>

<div id='header' class=""><%include file="<%$commonTmpPath%>head.html"%></div>

<div id="wrapper">
  <div class="container">
    <div  id="main">
      <div id="main_header">
        <h1 id="title">注册</h1>
      </div>
      <div id="register" class="content">
        <form class="reg_form" method="post" action="/index.php?r=register/save">
          <h2>马上加入，开启缘分之旅</h2>
          <div class="form_item">
            <label class="item_name">性别：</label>
            <label class="sex" for="sexm">
            <input id="sexm" type="radio" value="男" name="sex" checked="checked">
            男 </label>
            <label class="sex" for="sexf">
            <input id="sexf" type="radio" value="女" name="sex">
            女 </label>
          </div>
          <div class="form_item">
            <label class="item_name">生日：</label>
            <select class="year item_select" id="year" name="year">
              <option value="0">请选择</option>
              <option>1996</option>
              <option>1995</option>
              <option>1994</option>
              <option>1993</option>
              <option>1992</option>
              <option>1991</option>
              <option>1990</option>
              <option>1989</option>
              <option>1988</option>
              <option>1987</option>
              <option>1986</option>
              <option>1985</option>
              <option>1984</option>
              <option>1983</option>
              <option>1982</option>
              <option>1981</option>
              <option>1980</option>
            </select>
            <select class="month item_select" id="month" name="month">
              <option value="0">请选择</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
            <select class="day item_select" id="day" name="day">
              <option value="0">请选择</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
              <option>13</option>
              <option>14</option>
              <option>15</option>
              <option>16</option>
              <option>15</option>
              <option>16</option>
              <option>17</option>
              <option>18</option>
              <option>19</option>
              <option>20</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
              <option>30</option>
              <option>31</option>
            </select>
          </div>
          <div class="form_item">
            <label class="item_name">身高：</label>
            <select class="height item_select" id="height" name="height">
              <option value="0">请选择</option>
              <option>199cm</option>
              <option>198cm</option>
              <option>197cm</option>
              <option>196cm</option>
              <option>195cm</option>
              <option>194cm</option>
              <option>193cm</option>
              <option>192cm</option>
              <option>191cm</option>
              <option>190cm</option>
              <option>189cm</option>
              <option>188cm</option>
              <option>187cm</option>
              <option>186cm</option>
              <option>185cm</option>
              <option>184cm</option>
              <option>183cm</option>
              <option>182cm</option>
              <option>181cm</option>
              <option>180cm</option>
              <option>179cm</option>
              <option>178cm</option>
              <option>177cm</option>
              <option>176cm</option>
              <option>175cm</option>
              <option>174cm</option>
              <option>173cm</option>
              <option>172cm</option>
              <option>171cm</option>
              <option>170cm</option>
              <option>169cm</option>
              <option>168cm</option>
              <option>167cm</option>
              <option>166cm</option>
              <option>165cm</option>
              <option>164cm</option>
              <option>163cm</option>
              <option>162cm</option>
              <option>161cm</option>
              <option>160cm</option>
              <option>159cm</option>
              <option>158cm</option>
              <option>157cm</option>
              <option>156cm</option>
              <option>155cm</option>
              <option>154cm</option>
              <option>153cm</option>
              <option>152cm</option>
              <option>151cm</option>
              <option>150cm</option>
            </select>
          </div>
          <div class="form_item">
            <label class="item_name">现居地：</label>
            <select class="province item_select" id="address" name="address">
              <option value="0">请选择</option>
              <option>北京</option>
              <option>上海</option>
              <option>天津</option>
              <option>山东</option>
              <option>山西</option>
              <option>河北 </option>
              <option>河南</option>
              <option>安徽</option>
              <option>江苏</option>
              <option>浙江</option>
              <option>福建</option>
              <option>江西</option>
              <option>广东</option>
              <option>广西</option>
              <option>辽宁</option>
              <option>吉林</option>
              <option>黑龙江</option>
              <option>内蒙古</option>
              <option>湖北</option>
              <option>湖南</option>
              <option>重庆</option>
              <option>四川</option>
              <option>贵州</option>
              <option>云南</option>
              <option>陕西</option>
              <option>甘肃</option>
              <option>宁夏</option>
              <option>青海</option>
              <option>西藏</option>
              <option>新疆</option>
              <option>海南</option>
              <option>台湾</option>
              <option>香港</option>
              <option>澳门</option>
            </select>
          </div>
          <div class="form_item">
            <label class="item_name" autocomplete="off">昵称：</label>
            <input id="name" class="item_input" type="text" maxlength="15" name="name"/>
            <span style="display:inline">中、英文均可，最多14个英文或7个汉字</span> </div>
          <div class="form_item">
            <label class="item_name" autocomplete="off">邮箱：</label>
            <input id="email" class="item_input" type="text" maxlength="60" name="email"/>
            <span style="display:inline">用来登录Find，接收到激活邮件才能完成注册</span> </div>
          <div class="form_item">
            <label class="item_name" autocomplete="off">密码：</label>
            <input id="password" class="item_input" type="password" maxlength="20" name="password"/>
            <span style="display:inline">可包含字母和数字，至少6个字符，区分大小写</span> </div>
          <div class="form_item">
            <p class="agree">
              <label for="agreement">
              <input id="agreement" type="checkbox" />
              我已经认真阅读并同意Find的《 <a href="protocol.html" target="_blank">使用条款</a> 》。 </label>
            </p>
          </div>
          <div class="form_item"> <button class="reg_button button" type="submit">立即注册</button> </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="service"><a target="_blank" href="about.html">关于小鹊桥</a> · <a target="_blank" href="contactus.html">联系我们</a> · <a target="_blank" href="protocol.html">使用条款</a> · <a href="#">意见反馈</a></div>
  <div class="icp"><span> © 2014 xiaoqueqiao.com, all rights reserved.</span> <span>京ICP备14035193号<a href="http://www.miitbeian.gov.cn/"></a></span></div>
</div>
</body>
</html>
